<template>
   <h1>Login</h1>
    <input type="text" placeholder="title" v-model="title">
    <input type="text" placeholder="price" v-model="price">
    <input type="text" placeholder="description" v-model="description">
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"  />
    <input type="text" placeholder="category" v-model="category">
    <button v-on:click="iniciar()">iniciar</button>

</template>

<script>

import axios from 'axios';
export default {

  name: "AgregarProducto",

  data() {
    return {
        title:"",
        price:"",
        description:"",
        image:"",
        category:""
    };
  },
  methods: {
iniciar() {
    
    let body =  {
                    title: this.title,
                    price: this.price,
                    description: this.description,
                    image: this.image,
                    category: this.category
                };

    axios.post(`https://fakestoreapi.com/products`, JSON.stringify(body), {
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        // Handle success
        alert("agregado correctamente");
        alert( JSON.stringify(response) );

    })
    .catch(error => {
        // Handle error
        alert("No se puedo agregar");
        console.error(error);
    });
},
        agregarCarrito(){

            const prod = [
                {
                    id: this.$route.params.id,
                    cantidad: this.cantidad,
                    image: this.producto.image,
                    title: this.producto.title,
                    price: this.producto.price
                }
            ]

            if (localStorage.getItem("productos") === null) {
                localStorage.setItem("productos", JSON.stringify(prod) )
            }else{

                let traerProd = JSON.parse(localStorage.getItem("productos")) 

                let productoExistente = traerProd.findIndex(producto => producto.id === this.$route.params.id)
                alert(productoExistente)
                if (productoExistente === -1) {
                    traerProd.push( ...prod)

                }else{
                    traerProd[productoExistente].cantidad = Number(this.cantidad) 
                }
                localStorage.setItem("productos", JSON.stringify(traerProd) )
            }
        }
    },

    mounted() {
        const parametro = this.$route.params.id;
        axios.get(`https://fakestoreapi.com/products/${parametro}`).then(response => {
                this.producto = response.data;
            }).catch((error) => {
                console.log(error);
            });
    }

};
</script>
