<template>
  <div v-for="product in local" :key="product.id" class="carrito">
    <h1>producto {{ product.id }}</h1>
    <h2>{{ product.image }}</h2>
    <h2>{{ product.title }}</h2>
    <h2>{{ product.price }}</h2>
    <h2>subTotal {{ product.price * product.cantidad }}</h2>
    <input type="number" v-model="product.cantidad" @change="agregarCarrito(product)"/>
    <button v-on:click="quitarCarrito(product.id)">Eliminar</button>
  </div>
</template>

<script>

export default {
  name: "CarritoVue",

  data() {
    return {
      id: this.$route.params.id,
      producto: "",
      cantidad: 10,
      local: JSON.parse(localStorage.getItem("productos")),
    };
  },
  methods: {
    agregarCarrito(product) {
      const prod = [
        {
          id: product.id,
          cantidad: product.cantidad,
          image: product.image,
          title: product.title,
          price: product.price,
        },
      ];

      if (localStorage.getItem("productos") === null) {
        localStorage.setItem("productos", JSON.stringify(prod));
      } else {
        let traerProd = JSON.parse(localStorage.getItem("productos"));

        let productoExistente = traerProd.findIndex(
          (producto) => producto.id === product.id
        );
        alert(productoExistente);
        if (productoExistente === -1) {
          traerProd.push(...prod);
        } else {
          traerProd[productoExistente].cantidad = Number(product.cantidad);
        }
        localStorage.setItem("productos", JSON.stringify(traerProd));
        this.local = JSON.parse(localStorage.getItem("productos"))
      }
    },
    quitarCarrito(id){
        const nuevoJsonData = this.local.filter(objeto => objeto.id !== id);
        localStorage.setItem("productos", JSON.stringify(nuevoJsonData));
        this.local = JSON.parse(localStorage.getItem("productos"))
    }
  },
};
</script>
<style scoped>
.carrito {
  background-color: gray;
  margin: 10px;
}
</style>