<template>
    <h1>No se encontro la pagina</h1>
    <ShopTermsyConditions />
</template>

<script>
import ShopTermsyConditions from '../components/ShopTermsyConditions.vue';
export default {
  name: "HomeVue",
  components: {
    ShopTermsyConditions
},
};
</script>