<template>
   <h1>Login</h1>
    <input type="text" placeholder="usuario" v-model="usuario">
    <input type="password"  placeholder="password" v-model="password">
    <button v-on:click="iniciar()">iniciar</button>
</template>

<script>

import axios from 'axios';
export default {

  name: "LoginVue",

  data() {
    return {
        usuario: "mor_2314",
        password:"83r5^_"
    };
  },
  methods: {
iniciar() {
    let body = {
        username: this.usuario,
        password: this.password
    };

    axios.post(`https://fakestoreapi.com/auth/login`, JSON.stringify(body), {
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        // Handle success
        alert("Login successful");
        alert(response.data.token);
        localStorage.setItem("token", response.data.token);
        this.$router.push('/');
    })
    .catch(error => {
        // Handle error
        alert("Login failed");
        console.error(error);
    });
},
        agregarCarrito(){

            const prod = [
                {
                    id: this.$route.params.id,
                    cantidad: this.cantidad,
                    image: this.producto.image,
                    title: this.producto.title,
                    price: this.producto.price
                }
            ]

            if (localStorage.getItem("productos") === null) {
                localStorage.setItem("productos", JSON.stringify(prod) )
            }else{

                let traerProd = JSON.parse(localStorage.getItem("productos")) 

                let productoExistente = traerProd.findIndex(producto => producto.id === this.$route.params.id)
                alert(productoExistente)
                if (productoExistente === -1) {
                    traerProd.push( ...prod)

                }else{
                    traerProd[productoExistente].cantidad = Number(this.cantidad) 
                }
                localStorage.setItem("productos", JSON.stringify(traerProd) )
            }
        }
    },

    mounted() {
        const parametro = this.$route.params.id;
        axios.get(`https://fakestoreapi.com/products/${parametro}`).then(response => {
                this.producto = response.data;
            }).catch((error) => {
                console.log(error);
            });
    }

};
</script>
