<template>
    <h1> producto {{id}}</h1>
    <h2>{{producto.image}}</h2>
    <h2>{{producto.title}}</h2>
    <h2>{{producto.price}}</h2>
    <h2>{{producto.description}}</h2>
    <h2>{{producto.category}}</h2>



    <input type = "number" v-model = "cantidad"/>

    <button v-on:click = "agregarCarrito()"> agregar </button>

    <hr />

{{(local) }}
    <div v-for="(product) in local" :key="product.id">
        hola
            <h1> producto {{product.id}}</h1>
            <h2>{{product.image}}</h2>
            <h2>{{product.title}}</h2>
            <h2>{{product.price}}</h2>
            <h2> subTotal {{product.price * product.cantidad}} </h2>
    </div> 


</template>

<script>

import axios from 'axios';
export default {

  name: "ProductsVue",

  data() {
    return {
        id: this.$route.params.id,
        producto: "",
        cantidad: 10,
        local: JSON.parse(localStorage.getItem("productos"))
    };
  },
  methods: {
        getProducts() {
            axios.get(`https://fakestoreapi.com/products/1`).then(response => {
                this.producto = response.data;
            }).catch((error) => {
                console.log(error);
            });
        },
        agregarCarrito(){

            const prod = [
                {
                    id: this.$route.params.id,
                    cantidad: this.cantidad,
                    image: this.producto.image,
                    title: this.producto.title,
                    price: this.producto.price
                }
            ]

            if (localStorage.getItem("productos") === null) {
                localStorage.setItem("productos", JSON.stringify(prod) )
            }else{

                let traerProd = JSON.parse(localStorage.getItem("productos")) 

                let productoExistente = traerProd.findIndex(producto => producto.id === this.$route.params.id)
                alert(productoExistente)
                if (productoExistente === -1) {
                    traerProd.push( ...prod)

                }else{
                    traerProd[productoExistente].cantidad = Number(this.cantidad) 
                }
                localStorage.setItem("productos", JSON.stringify(traerProd) )
            }
        }
    },

    mounted() {
        const parametro = this.$route.params.id;
        axios.get(`https://fakestoreapi.com/products/${parametro}`).then(response => {
                this.producto = response.data;
            }).catch((error) => {
                console.log(error);
            });
    }

};
</script>
