<template>
    <div class="new-offers-container">
      <h1>Follow us on Instagram for News, Offers & More</h1>
  
      <div class="image-row">
        <div v-for="(item, index) in items" :key="index" class="image-container">
          <img class="image" :src="item.imageUrl" alt="Offer Image">
          <div class="content-container">
            <p class="content">{{ item.content }}</p>
            <p class="date">{{ item.date }}</p>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        items: [
          {
            imageUrl: "https://images.unsplash.com/photo-1587831990711-23ca6441447b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3JkZW5hZG9yJTIwZGUlMjBtZXNhfGVufDB8fDB8fHww",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/5be0/ede2/368288a84fd12e4ed8c8b62135ec6cda?Expires=1701043200&Signature=LEUGqevjwN9DK7oacwGBbnPIRbpBsWgBXv11V7GoB10npHiZl2jRhMKOi2R8DWOhmRWRFxAnbe22h6VhkUOaCC7dSWrtVsLyC1xPrRBupdSYCGAcXBVSYtxSnFBCB6RCW6k7GRjwoDaVcM7qjcD4X4Y-Ji-5xmm-qAlgJILgeKbzgM5DYO8gwaVthj8Kx1J5KxfGTxy0KkOn9HF5~y721RJcXoCWTiy6frvwqL3km21Cp2oegzpwtmva~YvGXg1VvqY3n25pIORJEy-HI9YK94xaxTEVtUNa76Os7AaSj8YM2XyDBjwcExz~FUmIpniHiWCsLhYMV-1dcaKxOOoQHQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "As a gamer, superior sound counts for a lot. You need to hear enemies tiptoeing up behind you for a sneak attack or a slight change in the atmospheric music signaling a new challenge or task...",
            date: "01.09.2020"
          }, 
                 {
            imageUrl: "https://s3-alpha-sig.figma.com/img/04c1/2d01/2229aaaace1943ba79a8c018d1c99331?Expires=1701043200&Signature=GE-uryqUs8ASuRwSKuMHGieR9h4NPd4THd-gkNE65OwymyKcHFYEpFtJPkdc1bJcm1WMTuSzQHGqj8C3Jw4sZjZE9xerkAe0vCDj1EQ4IPOE9vqjQOIRa6QayG0tUBBHae6isMcOtPqLCMQdXFaRcYy90~wOROCnsUGsLW204SSashwlKP2c8zB6mWG8~gQBN5s7TLJZZFq3qsWFzStYhX6RCvsBu~xp2-K3VzSmO1ccKeiMozm-3WxiYf211pyEGvX9kaqlicnGk2n0q90T~QYgT27muQs0UCjpDuQKDsJtgC1TxQj8RFe9dw0ytJL7fksDpvxqRBiCCaxY1pERzA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/f9d2/a30e/e2dfbe24c387481a5017df34b45ab1cb?Expires=1701043200&Signature=oVebtFX0m7F2-ZmMADggkwVWzP3qbGc-xfOqmZ5klpIQ56OwHrM6VDaQOp04kHml8ZTA8MNjya5CfkcNM9r89t9dp6dOoIdD4wnuqFAnla-EPFdNfe-RRp8uXHkzeCCohGu7mrzmldIM20z1eMZbpScXxcG~-tiVymZtB-icc2vpgZvvHNFguKMUwHuDXiU38n0VE10Nqz94eJ2fQvm-dRt2takHfv7a0v2zj0UbVx9ypT4-IjWaBv0WjpHjjr0L9-fU4vn18yIsHyxy5AJWZb9ugw7kqR-uXOeRkjPzyRC4061-5FuMwsBXeIctHDUFZqeVcgms1jWUBO6AVaQpZQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, ...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/f47f/fa43/efd22ae92157650cc1ce07fc033e9296?Expires=1701043200&Signature=hg8v3BGsNDa0yZrk4g2pgdCBupqPC2br1T1S6y~iuaIKZqKrPvvIaDtejJJ0hrG5Fa9DRzTLi~yiuQC14yvtxp9ceTxQEq~4ZiUk1XXcafVRwQ2z6L8CSkNTvMFEeaGia8aMULWtIN-xmOB~X20WTcDZ1NV-NU9myglNrsTY7QN0npMN9QpioRr3nLpuywGCDyKXC547-L-UlPBcKb0lIH7l-H0-5MvfpjWhJgcRV6M6rgoU2wUSVc7328aLMnJF3zq2dkaj~6mfD36wyicgGiKLWBUNNyFXc3kuy~BlcnxyirsS~Eh1ifwOejWXa5VB3aVt9nLnBLf6AsHZJlrJ5g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/4efb/7b76/9670f6cef9e9cea0bedd893b58c6551f?Expires=1701043200&Signature=Y~TAF254KVS~PQuWyTCoQMOCG8JPXf7bkSKKJJljMAI~c7lVLJfBeQwbT20BYZWCBEBxSqGExhzauJ6~zkh66t3uYtK1nKmvSF1cgE81ZiMYS4aAVQprHAd9VFNZXcOkaaIco~sG3ciQVNmH4RhRPE-gaJZGXYb8VspmVmj5pqsYI2ryeREawNxuDB3xvjLhIHK-XeNk66hzQlrhuVVYUPxZBVUlheonUghLxfFfPgFjbm3vZQtajR383FuEEX-2diIogxcvpuLNDStzog~d3VTbWMDnObdpxms2Y3mwevh1Q3ox1RGMb6B6WUWwouLzgoyy15Etm78lLoh0gsUGKg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/b168/aeec/5188465031b1f2eaa5f2d208376cb566?Expires=1701043200&Signature=dYLfzGLZfeoka-BvpHHbn1zsnlIF5zMoPF0dmGYZXpZ6-nPvaVgRViA5SrulrYQBlIGDRkivfMFTWbRgJkVYK0pptEfNq5c7fyh6XD4XIYo4tzwYD80yIqoci~iZAk4drVeAKsl-dbYm0AuK81dGjUsV6YZlumDzBkHDMARgngUeDYMeWKP3lOXsemYsVsvqUbfLmTw2JfAoZ0qpE63VZvZY3tfDE~blGpNen9JEhuaVcUBDJ-nZkigFKFnh4-RvxHlpFkmtRhtgRhReonxl~Pl2oJ~BEAaJXg0COgxg5QQmKkrSY9~0Q73-W88Zrs56~tLepvmjmuRpa~gy3tAg3w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/17b3/b50a/87e9f9b1aa77bb8b4bc47ace2d1bb2f6?Expires=1701043200&Signature=os4mUdRQ3JCzQAAgu8tUhnSROS4~A9l8eeOgKXluYHAelNVX2EX~9uLzQ7fCDtKbCuE26lZfGoaGAXig0HHlLPiL70mzvzFoEBSEyTmzkjBo9Lo5-uxIjor4cXYpnSYM2dphxrNx2Nc7c9tmx8FYTLS6ytg24UuBoQSTnCYAmejxUX-bFzplCihrhVgWpb~s8zN0A-L-JvqqFsdlMydH0Et24Rzx-q8wqUqL1FRvz5X-UA~D9VHXLgzuVfPkGZgL81cBYZNK9gJNgXMS~WyzLJrOEdA454o8L82-qAwXGzxQXvhszNbQ-THiMmEJdVi2LnQul~azunNirpH1H3zkPw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          },
          {
            imageUrl: "https://s3-alpha-sig.figma.com/img/3a8a/109d/ca366fa2016ad09ace454407ee8d1099?Expires=1701043200&Signature=EIXK46nE2nGv636vffOyOEPfVS6WSIL7Aa2J63rVG3pQsyR7Cs3mgi8t2eyIdMGHEFBwUdQnKs1rCsb7TDmqS9RXJsbwVFqWxrmJ0Pm23DsHkHCabNZLk4o3whOMrKaMyQhEqeo2qRDbHypnoBNQcnwWK~ZOQG~7zUb3uy3srR9lef-RoOZTctF5QyJKXZGT3uT9AjiXEAdPjxTPAAuY2W7yqFpZABpDY1XLqQZtP6ub4Lm6OuWkm38xkIhhuwf60TIjFUeCVLbcr9g6RWOBs9lkN086ALYENTTgESsQFvw9nx0mZctofBq6-KOjEVrzNO5BIYdp3BxgjbvRWWFVPw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4",
            content: "If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace...",
            date: "01.09.2020"
          }
        
        ]
      };
    }
  };
  </script>
  
  <style scoped>
  .new-offers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 235px;
    height: 321px;

  }
  
  .image {
    width: 235px;
    height: 151.11px;
    margin-right: 6px;
  }
  
  .content-container {
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 225px;
  }

  .content {
    width: 185px;
    text-align: center;
    color: black;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .date {
    text-align: center;
    color: #A2A6B0;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
  }

  h1 {
    margin: 40px 0 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
</style>

  